// UI COLORS
// ---------------------------------------------------------------------------

$color-rose: #f35d54;
$color-pink: #f27f79;
$color-gray: #6c6d71;
$color-yellow: #fccd00;
$color-steel: #c2c2c2;
