@import '../kube/kube';
@import '../kube/_scss/variables';

@import 'utils';
@import 'colors';
@import 'typography';
@import 'navigation';
@import 'banner';

@import 'page/our-mission';
@import 'page/our-camps';
@import 'page/mentors';

// HEADER
// ---------------------------------------------------------------------------

header {
	padding: 2rem;
}

// Footer
// ---------------------------------------------------------------------------

footer {
	padding: 1.2rem;
	color: #ffffff;
	background-color: $color-steel;
}
