.mentors__content.home__page {
	padding: 8rem 2rem;
}

.mentors__content__wrap {
	padding: 4rem 0;
}

.mentors__book__wrap {
	width: 95%;
	margin: 5rem auto;
}

.mentors__book__wrap img {
	margin: 0 auto;
	display: block;
}

.mentors__page .timeline__list {
	margin: 5rem 0;
}

.mentoring__availibility {
	width: 95%;
	margin: 5rem auto;
}

.mentoring__availibility img {
	margin: 0 auto;
	display: block;
}

.mentors__page__quote {
	margin: 15rem 0;
}

.mentors__page__volunteer {
	margin: 5rem 0;
}
