.page__our-mission .heart__emblem {
	width: 8rem;
	margin: 4rem auto;
	display: block;
}

.about__content.home__page {
	padding: 8rem 2rem;
}

.about__content__wrap.home__page {
	background-color: $color-steel;
	padding: 5rem 0;
	margin-top: 10rem;
}

.statistics {
	padding: 4rem 0;
}

.statistic__wrap {
	padding: 0 2rem;
}
