.page__our-mission .heart__emblem {
	width: 8rem;
	margin: 4rem auto;
	display: block;
}

.about__content.home__page {
	padding: 8rem 2rem;
}

.statistic__wrap {
	padding: 0 2rem;
}

.about__content__wrap.home__page {
	@include angle(before, true);
	background-color: $color-steel;
	padding: 5rem 0;
	margin: 15rem 0;
}
