.posts__list__component a {
	width: 80%;
	margin: 0 auto;
	display: block;
	text-decoration: none;
}

.posts__list__component a h1 {
	color: #f35d54;
	font-size: 1.5rem;
}

.posts__list__component a p {
	color: #000000;
}

.posts__list__component a .amount__to__date p {
	text-transform: uppercase;
	font-size: 0.9rem;
	color: #f35d54;
	margin-top: 1.5rem;
}
