footer {
	padding: 1rem;
	display: flex;
	align-items: center;
	background-color: #fccd00;
	color: #fff;
	width: 100%;
	font-size: 0.8rem;
	font-weight: 900;
}

footer span {
	display: block;
}

footer .cell {
	width: 50%;
}

footer .content__wrap {
	justify-content: center;
}

footer .wrap {
	padding: 3.5rem;
}
