body {
	overflow-x: hidden;
	background-image: linear-gradient(147deg, #fccd00 0%, #f35d54 85%);
	background-size: cover;
	background-attachment: fixed;
}

.push__menu__container.open {
	transform: translate3d(-300px, 0, 0);
}

.component__wrap {
	width: 100%;
}
