nav {
	padding-left: 2.5rem;
}

nav ul {
	padding: 0;
	list-style-type: none;
	display: flex;
}

nav li {
	padding: 1rem 0;
	margin: 0;
}

nav li a {
	font-weight: 900;
	color: #cccccc;
	text-transform: uppercase;
	text-decoration: none;
	display: block;
	overflow: hidden;
	transition: color 600ms ease-in-out;
}

nav li a:hover,
nav li a:focus,
nav li a.nuxt-link-active {
	color: #f35d54;
}

nav li:not(:last-child) {
	margin-right: 2rem;
}
