.social__icons {
	text-align: right;
}

.social__icons ul {
	display: inline-block;
}

.social__icons li {
	display: inline-block;
	margin-right: 1rem;
}

.social__icons a {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	background: #ffffff;
	box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.15), 0 1.5px 6px rgba(0, 0, 0, 0.12);
}

.social__icons svg {
	width: 80%;
	height: 80%;
}

.social__icons svg path {
	fill: #f35d54;
}
